*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.main__thanks {
    position: relative;
    width: 100%;
    height: 100%;


}
.content__thanks{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    
    
}
.content__thanks-img{

    margin: 110px 0 50px 0;

    font-size: 20px;
}
.content__thanks-img img{
    margin-top: 30px;
}
.content__subscribing{
    margin: 20px 0;
    font-size: 40px;
    font-weight: bold;
    text-align: start;
    color: #272743;
}
.content__confirmation{
    line-height: 1.7rem;
    margin-bottom: 80%;
    

}
.content__button{
    width: 100%;
    height: 60px;
    border: 2px solid #272743;
    background-color: #272743;
    color: #ffffff;
    padding-left: 15px;
    font-size: 16px;
    border-radius: 8px;     
    margin-bottom: 0;
    font-weight: 600;

  
}
@media (min-width:750px){
    .content__thanks{
        width: 25%;
    }
    .content__confirmation{
      margin-bottom: 100px;
    
    }
    .content__button:hover{
        cursor: pointer;
        background:linear-gradient(207.8deg,#f57326e6 39.69%, #f1517e 63%)

    }
    }